index       index.php index.html index.htm;
charset     utf-8;

# 允许 所有头部 所有域 所有方法
add_header 'Access-Control-Allow-Origin' *;
add_header 'Access-Control-Allow-Headers' *;
add_header 'Access-Control-Allow-Methods' *;
add_header 'Access-Control-Max-Age' 86400;

# OPTIONS 直接返回204
if ($request_method = 'OPTIONS') {
    return 204;
}

location / {
    try_files $uri $uri/ /index.php?_url=$uri&$args;
}

location ~ \.php {
    fastcgi_pass phalcon3_backend;

    include /etc/nginx/conf.d/fastcgi.conf;
}